.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 18px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
